<html lang="en" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
    <style>
        .datepickerdemoBasicUsage {
            /** Demo styles for mdCalendar. */ }
        .datepickerdemoBasicUsage md-content {
            padding-bottom: 200px; }
        .datepickerdemoBasicUsage .validation-messages {
            font-size: 12px;
            color: #dd2c00;
            margin: 10px 0 0 25px; }
    </style>
</head>
<body ng-app="BlankApp" ng-cloak>
<!--
  Your HTML content here
-->
<div ng-controller="AppCtrl" style='padding: 40px;' ng-cloak>
    <md-content>
        <h4>Standard date-picker</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"></md-datepicker>
        <h4>Disabled date-picker</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date" disabled></md-datepicker>
        <h4>Date-picker with min date and max date</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"
                       md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
        <h4>Only weekends are selectable</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"
                       md-date-filter="onlyWeekendsPredicate"></md-datepicker>
        <h4>Only weekends within given range are selectable</h4>
        <md-datepicker ng-model="myDate" md-placeholder="Enter date"
                       md-min-date="minDate" md-max-date="maxDate"
                       md-date-filter="onlyWeekendsPredicate"></md-datepicker>
        <h4>With ngMessages</h4>
        <form name="myForm">
            <md-datepicker name="dateField" ng-model="myDate" md-placeholder="Enter date"
                           required md-min-date="minDate" md-max-date="maxDate"
                           md-date-filter="onlyWeekendsPredicate"></md-datepicker>
            <div class="validation-messages" ng-messages="myForm.dateField.$error">
                <div ng-message="valid">The entered value is not a date!</div>
                <div ng-message="required">This date is required!</div>
                <div ng-message="mindate">Date is too early!</div>
                <div ng-message="maxdate">Date is too late!</div>
                <div ng-message="filtered">Only weekends are allowed!</div>
            </div>
        </form>
    </md-content>
</div>

<!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

<!-- Your application bootstrap  -->
<script type="text/javascript">
    angular.module('BlankApp',
        ['ngMaterial', 'ngMessages']).controller('AppCtrl', function($scope) {
        $scope.myDate = new Date();
        $scope.minDate = new Date(
            $scope.myDate.getFullYear(),
            $scope.myDate.getMonth() - 2,
            $scope.myDate.getDate());
        $scope.maxDate = new Date(
            $scope.myDate.getFullYear(),
            $scope.myDate.getMonth() + 2,
            $scope.myDate.getDate());
        $scope.onlyWeekendsPredicate = function(date) {
            var day = date.getDay();
            return day === 0 || day === 6;
        }
    });
</script>

</body>
</html>