html, body {
    padding: 0;
    margin: 0;

    min-height: 100%;
    height: 100%;

    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.container {
    background: black;
    position: relative;
}

.spacer {
    width: 0;
    height: 100%;
    float: left;
    clear: both;
}

.slide {
    width: 100%;
    height: 100%;
    position: relative;
    float: left;

    scroll-snap-align: start;
}

.one { background:red; }
.two { background: blue; }
.three { background: green; }
.four { background: yellow; }

.latched { position: fixed; top: 0; left: 0; right: 0; width: auto; }